[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.95.1"
uvicorn = "==0.21.1"
pyjwt = "==1.7.1"
fastapi-sqlalchemy = "==0.2.1"
python-dotenv = "==1.0.0"
psycopg2-binary = "==2.9.6"
bcrypt = "==4.0.1"
qrcode = "==7.4.2"
requests = "==2.28.2"
alembic = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.10"
